<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="beanPostProcessor" class="com.kaywall.test.postprocessor.CustomBeanPostProcessor">
    </bean>

    <bean id="instantiationAwareBeanPostProcessor" class="com.kaywall.test.postprocessor.CustomInstantiationAwareBeanPostProcessor">
    </bean>

    <bean id="beanFactoryPostProcessor" class="com.kaywall.test.postprocessor.CustomBeanFactoryPostProcessor">
    </bean>

    <bean id="person" class="com.kaywall.test.postprocessor.Person" init-method="customInit"
          destroy-method="customDestory" scope="singleton" p:name="Kaywall" p:address="shenzhen"
          p:phone="15900000000" />

</beans>